
<h1>Articles listing page</h1>
<table>
<thead>
<tr>
<th>Title</th>
<th>Descriptio</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<tr>
<td>some title</td>
<td>some description</td>
<td>placeholder</td>
</tr>
</tbody>
</table>