
<div class="container" id="home-container">
   <div class="jumbotron text-center text-white">
   <hr class="my-4">
   <div id="my-btn">
   <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
   </div>
   </div>
</div>

