<div id="page-content">

<div class="container" id="home-container">
   <div class="jumbotron text-center text-white">
   <hr class="my-4">
   <div id="my-btn">
   <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
   </div>
   </div>
</div>


</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
 <div class="container text-center">
 <small>Copyright &copy; <%= link_to "Shaher Shamroukh", "https://www.linkedin.com/in/shaher-shamroukh", target: "_blank", class: "namy" %></small>
 </div>
</footer>
    

