
<div class="container" id="home-container">
   <div class="jumbotron text-center text-white">
   <hr class="my-4">
   <div id="my-btn">
   <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
   </div>
   </div>
</div>

