@import 'bootstrap/dist/css/bootstrap';


.navbar {

    background-color: black !important;
    
    }
#my-btn {
    margin-top: 600px;
}
    .navbar-brand {
    
    font-size: 3rem;
    
    }
    .nav-link {
        color: white !important;
    }
    #logo {
     float: left;
     font-size: 1.7em;
     color: green;
     text-transform: uppercase;
     letter-spacing: -1px;
     font-weight: bold;
    }
#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
}

html,
body {
    height: 100%;
}
#page-content {
    flex: 1 0 auto;
    background-color: whitesmoke;
}
#sticky-footer {
    flex-shrink: none;
}

































