

<footer id="sticky-footer" class="py-4 bg-dark text-white">
 <div class="container text-center">
 <small>Copyright &copy; <%= link_to "Shaher Shamroukh", "https://www.linkedin.com/in/shaher-shamroukh", target: "_blank", class: "namy" %></small>
 </div>
</footer>
    
